@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center; ///// thisssss
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
  color: $secondary-color;
  @include flex-center();
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: $secondary-color;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

header {
  margin-bottom: 1.5rem;
}

.pomodoro-timer {
  width: 300px;
  min-width: 300px;
  background-color: $inner-color;
  border: 5px solid $border-color;
  border-radius: 10px;
  padding: 1rem;

  .timer {
    #timer-label {
      color: $primary-color;
      font-weight: bolder;
    }

    #time-left {
      font-size: 5.4rem;
      text-align: center;
      font-weight: bolder;
    }
  }

  .controls {
    margin: 1rem 0 2.5rem 0;
    @include flex-center();
    justify-content: space-evenly;

    #start_stop {
      font-size: 1.8rem;
      width: 4rem;
      height: 4rem;
      background-color: $primary-color;
      border-radius: 100%;
      @include flex-center();

      &:hover {
        opacity: 0.8;
        color: $secondary-color;
      }

      &.active {
        .fa-play {
          display: none;
        }

        .fa-pause {
          display: block;
        }
      }

      .fa-play {
        display: block;
      }

      .fa-pause {
        display: none;
      }
    }
  }

  .duration-setting {
    @include flex-center();
    justify-content: space-between;

    .setting {
      @include flex-center();
      flex-wrap: wrap;
      flex-basis: 45%;
      padding: 0.5rem;

      border-radius: 10px;
      background-color: rgba($background-color, $alpha: 0.8);

      .label {
        flex-basis: 100%;
        text-align: center;
        font-size: 0.9rem;
        color: $primary-color;
        margin-bottom: 0.5rem;
      }

      #break-length,
      #session-length {
        margin: 0 0.5rem;
        font-size: 1.8rem;
      }
    }
  }
}
